@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;500&display=swap);
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.bjrk {
	display: inline-block;
}

.container {
	width: 100%;
}

h4 {
	font-family: 'Source Code Pro', monospace;
	font-weight: 300;
	position: relative;
	font-size: 25px;
	text-align: -webkit-center;
}

.pluto {
	display: inline-block;
}
/***************************************************************************************************/
.container3 {
	display: grid; 
	grid-template-columns: 0fr 0fr 1fr;
    gap: 3px 13px;
  }
  .container2E{
	display: grid; 
	grid-template-columns: 1fr; 
	grid-template-rows: 0.3fr 1.2fr; 
	gap: 0px 0px; 
	grid-template-areas: 
	  "."
	  "."; 
  }
  /***************************************************************************************************/

.containerGK{
	display: grid; 
	grid-template-columns: 1fr; 
	grid-template-rows: 1fr 0.5fr 0.5fr;
	gap: 0px 0px; 
	grid-template-areas: 
	  "."
	  "."
	  "."; 
}
nav {
	position: fixed;
	display: flex;
	align-items: flex-start;
	width: 20%;
	height: 100%;
	background-color: #111;
}

main {
	position: fixed;
	right: 0;
	width: 80%;
	height: 100%;
	background-color: #fff;
	overflow: auto;
	overflow-x: hidden;
	padding: 40px;
}

.hero-image {
	/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/dino.jpg");
	/* Set a specific height */
	height: 50%;
	/* Position and center the image to scale nicely on all screens */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.cert {
	width: 250px;
	height: 160px;
	margin-top: 12px;
	margin-bottom: 90px;
}

/***************************************************************************************************/
.mpx {
	margin-top: 150px;
	width: 101%;
}

.mpx1 {
	margin-top: 150px;
	width: 40%;
	height: auto;
}

.dov {
	border-width: 2px;
	border-style: solid;
	border-color: black;
	width: 1130px;
	height: 238px;
	border-radius: 11px;
	margin-top: 170px;
	position: relative;
}

.dovo {
	border-width: 2px;
	border-style: solid;
	border-color: black;
	width: 1141px;
	height: 283px;
	border-radius: 11px;
	margin-top: 170px;
	position: relative;
}

.grud {
	min-width: min-content;
	display: block;
	/*grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));*/
	margin-top: 39px;
	margin-left: 60px;
	margin-bottom: 89px;
}

.hero-text {
	font-family: 'Roboto Slab', serif;
	text-align: center;
	position: absolute;
	top: 20%;
	left: 40%;
	margin-left: 0px;
	/*transform: translate(-50%, -50%);*/
	color: #0c3169;
	max-width: 400px;
	height: auto;
	letter-spacing: 8px;
	font-size: 4vw;
}

.text-block {
	position: relative;
	width: fit-content;
	bottom: 20px;
	top: 90px;
	left: 10px;
	right: 20px;
	border-radius: 11px;
	background-color: black;
	color: white;
	padding-left: 20px;
	text-align: center;
	padding-right: 20px;
}

.text-block1 {
	position: relative;
	bottom: 60px;
	right: -285px;
	width: 333px;
	border-radius: 5px;
	background-color: #0343cf;
	color: white;
	transform: rotate(336deg);
	padding-left: 7px;
	padding-right: 7px;
}

.text-block3 {
	position: relative;
	border-radius: 5px;
	text-decoration: underline;
	color: rgb(0, 0, 0);
	padding-left: 7px;
	padding-right: 7px;
	bottom: 6px;
	right: -10px;
}

.text-block4 {
	position: relative;
	border-radius: 5px;
	text-decoration: underline;
	color: rgb(0, 0, 0);
	padding-left: 7px;
	padding-right: 7px;
	right: 4px;
	left: 569px;
	bottom: 24px;
	top: 0px;
}

.divo {
	position: relative;
	right: 106px;
	top: 37px;
	display: contents;
}

h5 {
	display: inline;
}

h1 {
	font-family: 'Source Code Pro', monospace;
	font-weight: bold;
	margin-bottom: 50px;
	font-size: 25px;
}

p {
	margin-bottom: 20px;
	line-height: 26px;
	font-size: 15px;
	font-family: 'Source Code Pro', monospace;
	text-align: justify;
	position: relative;
	bottom: 40px;
}

li, ul label.title, ul, a {
	width: 100%;
	color: #FFF;
	font-family: 'Source Code Pro', monospace;
	display: block;
	font-weight: lighter;
	letter-spacing: 2px;
}

ul label {
	height: 35px;
}

ul li {
	height: 35px;
	overflow: hidden;
	transition: all .3s;
}

li {
	display: block;
	/*background-color: #363636;*/
	background-color: #0343cf;
}

label.title {
	font-size: 14px;
	/*background: linear-gradient(#111, #2f2f2f);*/
	background: linear-gradient(#191818, #0e0e0e);
	padding: 10px 15px;
	cursor: pointer;
	transition: all .25s;
}

a {
	FONT-WEIGHT: 200;
	font-size: 12px;
	text-decoration: none;
	color: #FFF;
	display: block;
	padding: 10px 25px;
	transition: all .25s;
	letter-spacing: 4px;
}

a:hover {
	background-color: #5188db;
	box-shadow: inset 5px 0px 0px 0px #fff;
}

label:hover {
	text-shadow: 0px 0px 10px #fff;
}

input[type="radio"] {
	display: none;
}

#edit:checked+li, #archive:checked+li, #tools:checked+li, #preferences:checked+li {
	height: 189px;
}

i {
	margin-right: 12px;
}

.gitty {
	width: 600%;
	max-width: 154px;
	height: auto;
	position: relative;
	margin-top: 270px;
	overflow: hidden;
	margin-left: 102px;
	top: 388px;
}

#myImg {
	cursor: pointer;
	transition: 0.3s;
}

#myImg:hover {
	opacity: 0.7;
}

#myImg2 {
	cursor: pointer;
	transition: 0.3s;
	width: 152px;
	margin-right: 9px;
}

#myImg2:hover {
	opacity: 0.7;
}

#myImg3 {
	cursor: pointer;
	transition: 0.3s;
	width: 571px;
	margin-top: 94px;
	margin-right: 17px;
}

#myImg3:hover {
	opacity: 0.7;
}

/* The Modal (background) */

.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	padding-top: 100px;
	/* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(194, 105, 105);
	/* Fallback color */
	background-color: rgb(38 45 68 / 90%);
	/* Black w/ opacity */
}

.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 1000px;
}

/* Caption of Modal Image */

#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

/* Add Animation */

.modal-content, #caption {
	margin-left: auto;
	animation-name: zoom;
	animation-duration: 0.6s;
}

.north1 {
	display: inline-block;
	margin-top: 46px;
}

.north2 {
	position: relative;
	display: inline-block;
}

@keyframes zoom {
	from {
		transform: scale(0)
	}
	to {
		transform: scale(1)
	}
}

.close {
	position: absolute;
	top: 50px;
	right: 300px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover, .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

.myImages2 {
	width: 560px;
	margin-top: 172px;
}

@media screen and (max-width: 1440px) {
	main {
		position: initial;
		right: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		padding: 40px;
	}
	.rez {
		height: inherit;
	}
	a {
		FONT-WEIGHT: 200;
		font-size: 12px;
		text-decoration: none;
		/* display: none;*/
		padding: 10px 25px;
		transition: all .25s;
		letter-spacing: 4px;
		overflow: initial;
		/*display: table-cell;*/
	}
	nav {
		position: fixed;
		display: contents;
		align-items: flex-start;
		width: 20%;
		height: 100%;
		background-color: rgb(190, 60, 60);
		overflow: auto;
	}
	.modal-content, #caption {
		margin-left: auto;
		animation-name: zoom;
		animation-duration: 0.6s;
	}
	.close:hover, .close:focus {
		color: #bbb;
		text-decoration: none;
		cursor: pointer;
		margin-right: auto;
	}
	.close {
		right: 163px;
	}
	.gitty {
		display: none;
	}
}

@media screen and (max-width: 1024px) {
	#myImg2 {
		position: relative;
		width: 136px;
		right: 27px;
		bottom: 14px;
	}
	.close {
		right: 49px;
	}
	.dov {
		width: 955px;
		height: 189px;
	}
	.dovo {
		width: 950px;
		height: 258px;
	}
	#myImg {
		right: 24px;
		position: relative;
		width: 216px;
	}
	.myImages2 {
		width: 461px;
		margin-top: 172px;
	}
	#myImg3 {
		width: 430px;
	}
	.text-block1 {
		bottom: 42px;
		right: -257px;
		width: 236px;
		font-size: 12px;
	}
	.mpx {
		width: 91%;
	}
}

@media screen and (max-width: 768px) {
	#myImg2 {
		right: 19px;
		width: 196px;
		height: auto;
	}
	main {
		overflow-x: hidden;
	}
	.mpx {
		width: 100%;
	}
	.dov {
		width: 695px;
		height: 448px;
	}
	.dovo {
		width: 694px;
		height: 525px;
	}
	#myImg {
		width: 302px;
	}
	.myImages2 {
		position: relative;
		top: 140px;
		width: 567px;
		margin-top: -13px;
		margin-left: 68px;
	}
	.text-block3 {
		top: 124px;
		left: 185px;
	}
	.pluto {
		margin-bottom: 90px;
	}
	#myImg3 {
		width: 324px;
	}
	.text-block1 {
		bottom: 44px;
		right: -132px;
	}
	#incc {
		position: relative;
		bottom: 55px;
		margin-bottom: 10px;
		top: 1px;
		right: 29px;
		left: 76px;
	}
	
}

@media screen and (max-width: 425px) {
	h1 {
		font-size: large;
		letter-spacing: -1px;
		font-weight: lighter;
		justify-content: center;
	}
	.ee {
		position: relative;
		bottom: 89px;
	}
	.dov {
		position: relative;
		left: -34px;
		right: 50px;
		width: 401px;
	}
	#myImg2 {
		left: -29px;
		width: 157px;
		bottom: 22px;
	}
	.dovo {
		left: -34px;
		width: 402px;
		height: 334px;
	}
	#myImg {
		width: 161px;
	}
	.mpx {
		width: 119%;
		position: relative;
		right: 33px;
		margin-top: 116px;
	}
	.close {
		position: absolute;
		top: 50px;
		right: 31px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
	}
	.modal-content {
		margin: auto;
		display: block;
		width: 80%;
		max-width: 700px;
	}
	#caption {
		margin: auto;
		display: block;
		width: 80%;
		font-size: 22px;
		max-width: 700px;
		text-align: center;
		color: #fff;
		padding: 10px 0;
		height: 150px;
	}
	.myImages2 {
		position: relative;
		top: 140px;
		width: 415px;
		margin-top: -22px;
		margin-left: -35px;
	}
	.text-block3 {
		top: 124px;
		left: 12px;
	}
	th{
		line-height: 74px;
    letter-spacing: 3px;
	}
}

@media screen and (max-width: 375px) {
	th {
		position: relative;
		left: 3px;
	}
	.text-block {
		position: relative;
		left: 0px;
	}
	#myImg2 {
		width: 130px;
		bottom: 16px;
		left: -25px;
	}
	.dov {
		height: 405px;
		width: 350px;
	}
	.dovo {
		width: 352px;
		height: 280px;
	}
	#myImg {
		margin-right: 6px;
		left: -23px;
		bottom: 13px;
		width: 133px;
	}
	#broh {
		position: relative;
		bottom: 31px;
	}
	.mpx {
		width: 119%;
		position: relative;
		right: 27px;
		margin-top: 86px;
	}
	.myImages2 {
		top: 140px;
		width: 369px;
		margin-top: -13px;
		margin-left: -41px;
	}
	.text-block3 {
		top: 131px;
		left: -10px;
	}
	.north2 {
		margin-top: 91px;
	}
	.north1 {
		position: relative;
		right: 23px;
		margin-top: 46px;
	}
	#myImg3 {
		margin-top: 14px;
		width: 324px;
	}
	.text-block1 {
		bottom: 55px;
		right: -118px;
	}
	#rok {
		position: relative;
		left: 21px;
	}
}

@media screen and (max-width: 320px) {
	th {
		position: relative;
		left: -22px;
	}
	.text-block {
		position: relative;
		left: 0px;
	}
	#myImg2 {
		width: 104px;
		bottom: 16px;
		left: -25px;
	}
	.dov {
		height: 342px;
		width: 297px;
	}
	.dovo {
		margin-top: 100px;
		width: 297px;
		height: 232px;
	}
	#myImg {
		left: -22px;
		bottom: 13px;
		width: 105px;
	}
	#broh {
		top: 54px;
		position: relative;
		bottom: 31px;
	}
	#rok1 {
		top: 0px;
		font-size: 20px;
	}
	.mpx {
		width: 119%;
		position: relative;
		right: 27px;
		margin-top: 86px;
	}
	.myImages2 {
		width: 317px;
	}
	.text-block3 {
		top: 131px;
		letter-spacing: -1px;
		left: -21px;
		text-align: left;
	}
	.north {
		position: relative;
		left: -2px;
		font-size: 12px;
		bottom: 63px;
	}
	.north2 {
		margin-top: 91px;
	}
	.north1 {
		bottom: 105px;
		top: 34px;
	}
	#myImg3 {
		position: relative;
		margin-top: -4px;
		right: 14px;
		width: 309px;
	}
	.text-block1 {
		transform: rotate( 360deg);
		bottom: 38px;
		right: -26px;
	}
	#uu {
		font-size: 12px;
	}
	#rok {
		position: relative;
		left: -11px;
	}
	#incc {
		left: 55px;
	}
	#pbu3 {
		font-size: 20px;
	}
}

/*////////////////////////////////////*/

.audio {
	display: none;
}

* {
	box-sizing: border-box;
}

table {
	width: 60%;
}

img {
	margin-top: 10px;
	padding-bottom: 7px;
	width: 250px;
}

.img-fluid {
	background-image: linear-gradient(rgb(181 65 86 / 50%), rgb(39 52 64 / 15%)), url("../img/yasmina.jpg");
	width: 600px;
	height: 700px;
	position: absolute;
	top: 284px;
	right: 0px;
}

th {
	height: 4em;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	margin-bottom: 50px;
	font-size: 65px;
	text-align: center;
	position: relative;
}

#preview {
	left: 650px;
	bottom: 4000px;
	top: 250px;
	position: absolute;
	right: auto;
	float: right;
	/*background-color: rgb(255 157 104);*/
	background-image: none;
	background-size: cover;
	text-align: center;
	height: 900px;
	width: 600px;
	line-height: 250px;
	/*color: #375167;*/
	border-radius: 80px/60px;
	font-size: 2em;
}

element.style {
	background-color: rgb(252, 190, 21);
	background-image: none;
	background-size: cover;
}

/**  NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN 

.div_content {
    position: relative;
	padding: 38px 0;
	background-color: coral;
}

.item1 {
    display: block;
    color: #fff;
    padding: 18px 30px 20px 35px;
    transition: background-color .35s,opacity .35s;
}
.item2 {
    display: block;
    font-size: 35px;
    line-height: 1;
}
.item3 {
    display: block;
    padding-top: 4px;
    color: #666;
    color: hsla(0,0%,100%,.33);
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    transition: color .35s;
    letter-spacing: .05em;
} **/

.ccontainer .imgbox {
	width: 100%;
	height: auto;
	transform: rotateY(0deg);
	transition: all 0.5s ease-in-out 0s;
}

.ccontainer:hover .imgbox {
	transform: rotateY(-90deg);
}

.text {
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	color: white;
	width: 90%;
	height: 40%;
	padding: 30px;
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	transform: rotateY(90deg);
	transition: all 0.5s ease-in-out;
}

.ccontainer:hover .text {
	transform: rotateY(0);
}

[data-aos^=zoom][data-aos^=zoom].aos-animate {
	opacity: 1;
	transform: translateZ(0) scale(1);
	transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
	transition-property: opacity, transform;
}
